body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center; /* Centre Vertically */
  /* max-width: 700px; */
  margin: 0 auto;
  border-bottom: 1px solid #6b6565;
}

.navbar h1 {
  color: #03b120;
}

.navbar .links {
  margin-left: auto; /* This sends the links to the right as we are using 'display: flex'  */
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #03b120;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* todo previews */
.todo-preview {
  padding: 10px 16px;
  margin: 20px 0;
  /* border-bottom: 1px solid #fafafa; */

  border: 1px solid rgb(148, 54, 54);
  box-sizing: border-box;
  border-radius: 5px;
}

.todo-preview:hover {
  box-shadow: 1px 3px 5px black;
  border-radius: 5px;
}

.todo-preview h2{
  font-size: 20px;
  color: red;
  margin-bottom: 8px;
  
}

/* For creating new todo */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}

.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: red;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  
}

/* for completed and remaining todos (flex) */
.d-flex {
  display: flex;
}

.ms-auto{
  margin-left : auto;
}
.me-auto{
  margin-right : auto;
}

